

div
    margin 0px
    text-align center

.title
  margin-top 50px
  font-size 2em
  width 100%
  padding-bottom 20px
  padding-top 20px
  color orangered

.tagline
  padding-top 10px
  color grey
  padding-bottom 20px

img
  width 150px
  height 150px

