
div
    margin 0px
    text-align center

.app-header_title
  font-size 2em
  width 100%
  padding-top 20px
  color orangered

.app-header_tagline
  padding-top 10px
  color grey
  padding-bottom 20px


.img_li img
  width 500px

  padding 10px
  border-width thin
  border-color grey
  border-style solid
  box-shadow 0 1px 1px 0 grey

.app-conteneur
  text-align center
  height 400px
  background-attachment fixed
  background-repeat no-repeat
  background-position-x center
  background-position-y top

.app-header
  text-align center
  width 100%



.app-header_date
  color rgba(0, 0, 0, 0.64)

.content_by
  color grey
  margin-bottom 0

.makers_li
  margin-top 0px

.content
  margin-top 200px
  padding-top 50px
  width 100%
  background-color #ffffff
  text-align center
  z-index 99


.content li
  margin-top 20px
  border-style solid

.makers
  margin-top 20px
  padding-bottom 20px

.makers li
  color orangered
  cursor pointer

.makers li a
  color orangered

.makers p
  margin-top 10px

.indicateur
  color black

.related
  margin-top 25px


.related li
  display inline-block
  width 150px
  height 150px
  background-repeat no-repeat
  background-position-x center
  background-position-y top
  background-size cover
  cursor pointer

h3
  font-size 1.3em
  margin-bottom 20px
  
.related_name
  color: orangered

  padding-top 10px


.related_box
  height 50px
  padding-top 100px
  background-color rgba(0, 0, 0, 0.10)

.related_box:hover
  background-color rgba(0, 0, 0, 0.66)

.related_notation
  color white

button
  margin-top 10px
  border-radius 10px
  background-color rgba(255, 255, 255, 0.442)
  border-color #000000
  border-width thin
  width: 170px
  height 25px
  margin-bottom 20px

button a
  color black

button:hover
  background-color rgba(130, 0, 50, 0.1)

.app-header_head-name
  position fixed
  text-align center
  width 100%
  height 200px
  background: #f2f2f2
  z-index 2
  margin-top -40px

footer
  padding-top 20px

.app-header_tag li
  display inline-block
  color: #fff6f5
  margin 2px 3px
  padding 4px 6px
  background-color grey
  margin-top 20px
  cursor pointer

.app-header_tag li a
  color: #fff6f5

.app-header_tag li:hover
  background-color #4e4e4e

.content_comments
  border-color grey
  border-style solid
  border-width thin
  padding 20px
  
.content_comments_name
  color black