// Import des variables css (à charger dans chaque composant si besoin)
@import '~css/variables'
.posts-list-stats
    display flex
    postion relative
    text-transform uppercase
    justify-content center
    
.posts-list-filters
    text-align center
    
.posts-list
    display flex
    flex-flow row wrap
    position relative


    
// Style de mon composant PostsList :
